$base-font-size: 18px;
$unit: 8px;

$border-primary: 1px solid black;
$border-radius-circle: 50%;

$color-primary: #000;
$color-secondary: #fff;

$text-color-primary: #000;
$text-color-secondary: #fff;

$box-shadow-primary: 0px 0px 24px 3px rgba(0,0,0,0.53);
$-webkit-box-shadow-primary: 0px 0px 24px 3px rgba(0,0,0,0.53);
$-moz-box-shadow-primary: 0px 0px 24px 3px rgba(0,0,0,0.53);

$margin-primary: 5vh;
$margin-secondary: 7vh;

$width-primary: 100%;