@import '/src/styles/global/variables.scss';
@import '/src/styles/global/breakpoints.scss';

.mainPage {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

    &__cover {
      top: $margin-primary;
      height: 50vh;
      width: 100vw;
      margin: 0;
      background-image: url(../../../../public/Image-75.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: sticky;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 0;
    }

    &__container {
      margin-bottom: $margin-primary;
      padding: 50px 0px;
      height: 80vh;
      width: 100vw;
      display: flex;
      justify-content: space-around;
      background: $color-secondary;
      flex-direction: row;
      scroll-behavior: smooth;
    }

    &__for-him-her {
      width: 50vh;
      background-position: center;
      background-size: cover;
      font-size: $base-font-size;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      color: transparent;

      &_description {
        height: 100px;
        width: 100px;
        background-color: transparent;
        border-radius: $border-radius-circle;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @include small-screen {
        opacity: 0.7; 
        color: aliceblue;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        background-color: black;

        .mainPage__for-him-her_description {
          background-color: $color-primary;
        }
      }

      &:hover {
        opacity: 0.7; 
        color: aliceblue;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        
        .mainPage__for-him-her_description {
          background-color: $color-primary;
        }
      }
    }
}

.studio {
  margin: 15px;
  padding: 5px;
  opacity: 0.8;
  font-size: $unit * 8;
  color: $color-secondary;
  text-shadow: -4px 0 rgb(190, 49, 49), 0 0px rgb(190, 49, 49), 1px 0 rgb(190, 49, 49), 0 -1px rgb(190, 49, 49);

  @include small-screen {
    font-size: $unit * 6;
  }
}
