.customer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.customer-container {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_img {
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: black;
      color: white;
      border-radius: 50%;
      font-size: 130px;
    }
  }

  &__userOrders {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_previousOrders {
      
    }

    &_ordersInProgress {
      
    }

    &_lastOrder {
      
    }
  }
}