@import '../../styles/global/variables.scss';
@import '../../styles/global/breakpoints.scss';

.navigation {
  height: 5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.53);
  position: fixed;
  z-index: 2;
  background-color: $color-secondary;
  
  &__menu {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    @include small-screen {
      position: absolute;
      flex-direction: column;
      justify-content: space-around;
      top: 5vh;
      height: 15vh;
      width: 100vw;
      background-color: $color-secondary;
      
      box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.75);
      -webkit-box-shadow: -1px 10px 15px 1px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.75);

    }

    &_btn {
      font-size: $unit * 3;
      display: none;

      @include small-screen {
        display: inline-block;
      }
    }

    &_link {
      @include small-screen {
        text-align: center;
        width: 100%;
      }
    }
  }

  &__cart {
    position: relative;

    @include small-screen {
      margin-left: 60vw;      
    }

    &_items {
      position: absolute;
      top: -7px;
      right: -10px;
      width: 20px;
      height: 20px;
      border-radius: $border-radius-circle;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-color-secondary;
      background-color: rgb(190, 49, 49);
    }
  }
}

a {
  color: $text-color-primary;
  font-size: $unit * 2.5;
  text-decoration: none;
}
