.navigation {
  height: 5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.53);
  position: fixed;
  z-index: 1;
  background-color: white;
}

a {
  color: black;
  font-size: larger;
  text-decoration: none;
}