@import '/src/styles/global/variables.scss';

.searchBtn {
  position: fixed;
  top: 10vh;
  right: 3vw;
  width: 50px;
  height: 50px;
  border-radius: $border-radius-circle;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  box-shadow: 18px 17px 30px 1px rgba(0,0,0,0.51);
  -webkit-box-shadow: 18px 17px 30px 1px rgba(0,0,0,0.51);
  -moz-box-shadow: 18px 17px 30px 1px rgba(0,0,0,0.51);
}

.options {
  display: block;
  position: fixed;
  top: calc(50vh - 150px);
  width: 300px;
  height: 300px;
  background-color: $color-secondary;
  border-radius: 20%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: $border-primary;
  text-align: center;

  &__closeBtn {
    margin-left: 70%;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: $border-radius-circle;
    transform: rotate(45deg);
  }

  &__searchField {
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;

    &_icon {
      text-align: center;
      font-size: $base-font-size;
    }

    &_text {
      height: 20px;
    }
  }

  &__type {
    width: 200px;
    font-size: $unit * 1.5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    &_clothes {
      width: 100px;
      height: 40px;
      border-radius: 10px;
      
      background-color: $color-primary;
      color: white;
      cursor: pointer;   
    }
    
    &_size {
      margin: 10px 0;
      width: 40px;
      height: 40px;
      border-radius: $border-radius-circle;
      text-align: center;
      background-color: $color-primary;
      color: white;
      cursor: pointer;   
    }
  }
  
  
  &__price {
    width: 200px;
    margin-bottom: 10px;
  }
  
  &__findBtn {
    width: 200px;
    height: 40px;
    border-radius: 10px;
  }
}

.slider {
  min-width: 200px;
  height: 30px;
  
  .track {
    top: 50%;
    height: 8px;
    margin: -4px 0 0;
    background: rgba($color-primary, 0.25);
    border-radius: 99px;
  }

  .track-1 {
    background: darken($color-primary, 5%);
  }

  .thumb {
    top: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
    transform: translate(0, -50%);
    background: $color-primary;
    border-radius: $border-radius-circle;
    transition: 120ms background-color;

    &:before {
      content: attr(aria-valuenow);
      position: absolute;
      left: 50%;
      bottom: 100%;
      font-size: $unit * 1.5;
      font-style: italic;
      line-height: 20px;
      padding: 0 5px;
      color: #fff;
      background: rgba(#000, 0.8);
      border-radius: 4px;
      opacity: 0;
      transform: translate(-50%, -5px) scale(0.5);
      transform-origin: center 25px;
      transition: 120ms transform ease-in-out, 120ms opacity;
      pointer-events: none;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 100%;
      opacity: 0;
      border: 3px solid transparent;
      border-top-color: rgba(#000, 0.8);
      transform: translate(-50%, 0) scale(0.5);
      transform-origin: center bottom;
      transition: 120ms transform ease-in-out, 120ms opacity;
      pointer-events: none;
    }

    &:hover,
    &.active {
      background: lighten($color-primary, 2%);

      &:before {
        opacity: 1;
        transform: translate(-50%, -5px) scale(1);
      }

      &:after {
        opacity: 1;
        transform: translate(-50%, 1px) scale(1);
      }
    }
  }
}