@import '/src/styles/global/variables.scss';
@import '/src/styles/global/breakpoints.scss';

.example {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  margin: 15px;
  border-radius: 10px;

  @include small-screen {
    width: 100px;
    height: 150px;
    margin: 10px; 
  }


  &__picture{
    height: 200px;
    width: 200px;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: none;

    @include small-screen {
      height: 100px;
      width: 100px;
    }
  }

  &__description {
    margin: 5px 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: $unit * 3;
    text-transform: uppercase;

    @include small-screen {
      font-size: $unit * 1.5;
      height: 25px;
    }
  }

  &__price {
    margin: 0 10px;
    height: 20px;
    text-align: right;

    @include small-screen {
      margin: 0 5px;
      height: 20px;
      font-size: $unit * 1.5;
    }
  }
}
