@import '../../styles/global/variables.scss';
@import '../../styles/global/breakpoints.scss';

.cart {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  height: 90vh;
  top: 5vh;

  &__noOrders {
    position: absolute;
    top: calc(50vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: $border-radius-circle;
    background-color: $color-primary;
    font-size: $unit * 2;
    color: $text-color-secondary;
  }

  &__orderContainer {
    margin-top: 5vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &_totalPrice{
      display: flex;
      flex-direction: row;
  
  
      &_total {
        margin-right: 10px;
      }
    }
  }

  &__orderBtn.btn {
    height: 30px;
    width: 100px;
    background-color: rgb(190, 49, 49);
    border-radius: 10px;
  }
}