@import '../../styles/global/variables.scss';

.chosenExample {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  top: 5vh;

  &__picture{
    height: 350px;
    width: 350px;
    border-radius: $border-radius-circle;
    display: flex;
    box-shadow: 18px 17px 30px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 18px 17px 30px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 18px 17px 30px 1px rgba(0,0,0,0.51);
    filter: grayscale(100%);

    &:hover {
    filter: grayscale(0%);
    }
  }
 

  &__order-container {
    width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__size {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    border: $border-primary;
    background-color: $color-secondary;
    color: $color-primary;
    text-align: center;
  }

  &__orderBtn {
    border: none;
    height: 50px;
    width: 50px;
    font-size: $unit * 4;
    background-color: $color-secondary;
    color: gray;

    &:hover {
      color: $text-color-primary;
    }
  }
}

.clicked {
  background-color: black;
  color: $text-color-secondary;
}

